<a href="https://colab.research.google.com/github/manasamorthad/Machine-Learning/blob/main/pandasexercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={'Item':['TV','TV','TV','AC'],'Company':['LG','VIDEOCON','LG','SONY'],
      'Rupees':[12000,10000,15000,14000],'USD':[700,650,800,750]}
df=pd.DataFrame(data)
print(df)

  Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750

In [ ]:
new_data = [
    {'Item': 'AC', 'Company': 'LG', 'Rupees': 13000, 'USD': 720},
    {'Item': 'TV', 'Company': 'SONY', 'Rupees': 16000, 'USD': 850}
]
new_rows = pd.DataFrame(new_data)
df = pd.concat([df, new_rows], ignore_index=True)
print("DataFrame after adding new rows:")
print(df)

DataFrame after adding new rows:
  Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750
4   AC        LG   13000  720
5   TV      SONY   16000  850

In [ ]:
lg_tv=df[(df['Item']=='TV')&(df['Company']=='LG')]
max_price=lg_tv['Rupees'].max()
print('Maximum price of LG TV:',max_price)

Maximum price of LG TV: 15000

In [ ]:
total_rupees=df['Rupees'].sum()
total_usd=df['USD'].sum()
print('Total Rupees:',total_rupees)
print('Total USD:',total_usd)

Total Rupees: 80000
Total USD: 4470

In [ ]:
sony_products=df[df['Company']== 'SONY']
median_usd=sony_products['USD'].median()
print('Medain of the usd of sony products is:',median_usd)

Medain of the usd of sony products is: 800.0

In [8]:
import pandas as pd
import numpy as np
data={"Name":["Aparna","Pankaj","Ram","Ramesh","Naveen","krrishnav","Bhawana"],
      "Degree":["MBA","BCA","M.Tech","MBA",np.nan,"BCA","MBA"],
      "Score":[90,np.nan,80,98,97,78,89]}
df1=pd.DataFrame(data)
print(df1)

        Name  Degree  Score
0     Aparna     MBA   90.0
1     Pankaj     BCA    NaN
2        Ram  M.Tech   80.0
3     Ramesh     MBA   98.0
4     Naveen     NaN   97.0
5  krrishnav     BCA   78.0
6    Bhawana     MBA   89.0

In [9]:
print(df1.groupby("Degree")["Score"].max())

Degree
BCA       78.0
M.Tech    80.0
MBA       98.0
Name: Score, dtype: float64

In [10]:
df1["Score"] = df1["Score"].fillna(76)
print(df1)

        Name  Degree  Score
0     Aparna     MBA   90.0
1     Pankaj     BCA   76.0
2        Ram  M.Tech   80.0
3     Ramesh     MBA   98.0
4     Naveen     NaN   97.0
5  krrishnav     BCA   78.0
6    Bhawana     MBA   89.0

In [12]:
df1.set_index("Name",inplace=True)
print(df1)

           Degree  Score
Name
Aparna        MBA   90.0
Pankaj        BCA   76.0
Ram        M.Tech   80.0
Ramesh        MBA   98.0
Naveen        NaN   97.0
krrishnav     BCA   78.0
Bhawana       MBA   89.0

In [13]:
print(df1.groupby(["Name", "Degree"])["Score"].mean())

Name       Degree
Aparna     MBA       90.0
Bhawana    MBA       89.0
Pankaj     BCA       76.0
Ram        M.Tech    80.0
Ramesh     MBA       98.0
krrishnav  BCA       78.0
Name: Score, dtype: float64

In [14]:
print(df1["Degree"].value_counts().get("MBA", 0))

3

In [15]:
mode_bca = df1[df1["Degree"] == "BCA"]["Score"].mode()
print(mode_bca)

0    76.0
1    78.0
Name: Score, dtype: float64

In [20]:
from google.colab import files
uploaded = files.upload()

Saving auto-mpg.data to auto-mpg.data

In [21]:
#1
import pandas as pd
import numpy as np

columns = ["mpg", "cylinders", "displacement", "horsepower", "weight",
           "acceleration", "model_year", "origin", "car_name"]

autodf = pd.read_csv('auto-mpg.data', delim_whitespace=True, names=columns, na_values='?')

#2
print(autodf.describe(include='all'))

#3
print(autodf.head(10))

#4
print(autodf.isnull().sum())
autodf_ffill = autodf.fillna(method='ffill')
autodf_dropna = autodf.dropna()

#5
max_mpg_car = autodf.loc[autodf['mpg'].idxmax()]
print(max_mpg_car)

#6
avg_disp = autodf.groupby("cylinders")["displacement"].mean()
print(avg_disp)

#7
avg_cyl = autodf["cylinders"].mean()
print(avg_cyl)

#8
avg_weight = autodf["weight"].mean()
count_heavy_cars = autodf[autodf["weight"] > avg_weight].shape[0]
print(count_heavy_cars)

               mpg   cylinders  displacement  horsepower       weight  \
count   398.000000  398.000000    398.000000  392.000000   398.000000
unique         NaN         NaN           NaN         NaN          NaN
top            NaN         NaN           NaN         NaN          NaN
freq           NaN         NaN           NaN         NaN          NaN
mean     23.514573    5.454774    193.425879  104.469388  2970.424623
std       7.815984    1.701004    104.269838   38.491160   846.841774
min       9.000000    3.000000     68.000000   46.000000  1613.000000
25%      17.500000    4.000000    104.250000   75.000000  2223.750000
50%      23.000000    4.000000    148.500000   93.500000  2803.500000
75%      29.000000    8.000000    262.000000  126.000000  3608.000000
max      46.600000    8.000000    455.000000  230.000000  5140.000000

        acceleration  model_year      origin    car_name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.825000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.175000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN
    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0  3504.0          12.0
1  15.0          8         350.0       165.0  3693.0          11.5
2  18.0          8         318.0       150.0  3436.0          11.0
3  16.0          8         304.0       150.0  3433.0          12.0
4  17.0          8         302.0       140.0  3449.0          10.5
5  15.0          8         429.0       198.0  4341.0          10.0
6  14.0          8         454.0       220.0  4354.0           9.0
7  14.0          8         440.0       215.0  4312.0           8.5
8  14.0          8         455.0       225.0  4425.0          10.0
9  15.0          8         390.0       190.0  3850.0           8.5

   model_year  origin                   car_name
0          70       1  chevrolet chevelle malibu
1          70       1          buick skylark 320
2          70       1         plymouth satellite
3          70       1              amc rebel sst
4          70       1                ford torino
5          70       1           ford galaxie 500
6          70       1           chevrolet impala
7          70       1          plymouth fury iii
8          70       1           pontiac catalina
9          70       1         amc ambassador dpl
mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64
mpg                  46.6
cylinders               4
displacement         86.0
horsepower           65.0
weight             2110.0
acceleration         17.9
model_year             80
origin                  3
car_name        mazda glc
Name: 322, dtype: object
cylinders
3     72.500000
4    109.796569
5    145.000000
6    218.142857
8    345.009709
Name: displacement, dtype: float64
5.454773869346734
171

/tmp/ipython-input-21-3385083519.py:7: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  autodf = pd.read_csv('auto-mpg.data', delim_whitespace=True, names=columns, na_values='?')
/tmp/ipython-input-21-3385083519.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  autodf_ffill = autodf.fillna(method='ffill')